* {
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-logo-width: 3rem;
  --icon-buttons-size: 1.5rem;
}

body {  
  min-height: 100vh;
  height: 100%;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-columns: min(1fr, 20%) min(4fr, 80%);
  grid-template-rows: min(1fr, 17%) min(5fr, 83%);
}

.sidebar {
  min-width: min-content;
  padding: .75rem;
  color: #ffffff;
  background-color: #1199e1;
  font-weight: 600;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.logo {
  margin: 0 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.logo span {
  font-size: 1.5rem;
}

.logo > img {
  width: var(--sidebar-logo-width);
}

.menu ul{
  font-size: 1rem;
  display: grid;
}

.menu-upper {
  grid-template-rows: repeat(7, 1fr);
}

.menu ul > li {
  display: flex;
  align-items: center;
}

.sidebar-option-image {
  padding: calc(var(--sidebar-logo-width) / 4);
  width: 1.5rem;
}

/* header */
.header {
  padding: .75rem 1.5rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

div.upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.lower-header {
  padding: .5rem 0;
  display: flex;
  justify-content: space-between;
}

div.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#search {
  background: url('../img/search.png') no-repeat;
  border: none;
  width: var(--icon-buttons-size);
  height: var(--icon-buttons-size);
}

input#search-field {
  padding: .5rem;
  width: 45rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #e3e5e8;
  flex: 1;
}

div.corner-functions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

#notifications {
  background: url('../img/notifications.png') no-repeat;  
  border: none;
  width: var(--icon-buttons-size);
  height: var(--icon-buttons-size);

}

img#user-pic-small {
  width: 3rem;
}

div.greeting-container {
  display: flex;
  gap: 1rem;
}

img#user-pic-big {
  width: 5rem;
}

div.greeting {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
}

.greeting > span:first-child {
  font-size: .75rem;
}

div.lower-buttons-container {
  display: flex;
  gap: .5rem;
  align-items: center;
}

button.lower-buttons {
  background-color: #1199e1;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  height: 2.25rem;
  width: 5.5rem;
}

.header img {
  border-radius: 50%;
}

/* main-content */
.main-content {
  background-color: #e3e5e8;
  padding: 1rem 2rem 0 1rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.user-projects {
  padding: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

div.project {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 1rem;
  border-left: .5rem solid orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-area {
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  grid-template-rows: repeat(3, minmax(11rem, 1fr));
  gap: 1.5rem 1rem;
}

.announcements {
  padding: 1rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.trendings {
  padding: 1rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


span.main-content-header {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

span.project-title {
  font-weight: 600;
}

div.project-buttons {
  display: flex;
  justify-content: flex-end;
  gap: .75rem;
}

button.star {
  background: url('../img/star.png') no-repeat;  
  border: none;
  width: var(--icon-buttons-size);
  height: var(--icon-buttons-size);
}

button.watch {
  background: url('../img/watch.png') no-repeat;  
  border: none;
  width: var(--icon-buttons-size);
  height: var(--icon-buttons-size);
}

button.fork {
  background: url('../img/fork.png') no-repeat;  
  border: none;
  width: var(--icon-buttons-size);
  height: var(--icon-buttons-size);
}

.announcements-area {
  background-color: #ffffff;
  border-radius: .5rem;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

div.announcement {
  padding: 1rem;
  border-bottom: .1rem solid grey;
}

span.announcement-title {
  font-size: .9rem;
  font-weight: 600; 
}

p.announcement-desc {
  color: #787777;
  font-size: .75rem;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trendings-area {
  border-radius: 1rem;
  background-color: #ffffff;
  padding: .5rem;
}

div.trending {
  margin: .25rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

div.trending-info {
  display: flex;
  flex-direction: column;
}

.trendings img {
  border-radius: 50%;
  width: 3rem;
}

span.project-name {
  color: #787777;
}